*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/*.apk
Constants.java

app/production/release
ghtkvoipcall/
*/build/
/ghtkvoipcall/build

app/local.properties
app/.idea/gradle.xml
app/.idea/modules.xml
app/.idea/runConfigurations.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
app/.idea/codeStyles/Project.xml
